@import "tailwindcss";

:root {
  --background: #fffff4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

@font-face {
  font-family: 'Montage-Demo';
  src: url('/fonts/Montage-Demo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* .hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;   
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;           
} */